@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #ff0000;
    --cor-rosa: #ee005f;
    --cor-roxo-escuro: #b62a8f;
    --cor-roxo-claro: #6d4b9a;
    --cor-azul: #325082;
    --cor-cinza: #2f4858;
    --cor-preta: #000000;
    --cor-branca: #FFFFFF;
}